<!DOCTYPE html>
<html>
<head>
    <title><%= typeof title == 'undefined' ? 'Nucleus' : title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Grab the common JS libs -->
    <%- partial( 'partials/jsdeps' ) %>

    <!-- Grab the common CSS  -->
    <%- partial( 'partials/cssdeps' ) %>

    <!-- Import your app, controllers, etc. here. Path needs to be out of /assets/js/views/... -->


</head>

<body>

    <%- body %>

</body>
</html>
