<style>
    body {
        background: #202020;
    }

    .box {
        width: 50%;
        padding: 20px 50px 20px 50px;
        background: #195180;
        border-radius: 5px;
        margin: 50px auto;
    }

    h1 {
        color: white;
        margin-bottom: 50px;
    }

    .alertbubble {
        background: #ff6666;
        border-radius: 3px;
        color: white;
        width: 100%;
        margin-top: 10px;
        padding: 5px;
        text-align: center;
    }

    /* when hiding the picture */
    .ng-hide-add {
        animation: 0.5s lightSpeedOut ease;
    }

    /* when showing the picture */
    .ng-hide-remove {
        animation: 0.5s flipInX ease;
    }

    /* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
    /* flip in */
    @keyframes flipInX {
        0% {
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transition-timing-function: ease-in;
            opacity: 0;
        }

        40% {
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transition-timing-function: ease-in;
            transition-timing-function: ease-in;
        }

        60% {
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            opacity: 1;
        }

        80% {
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        }

        100% {
            transform: perspective(400px);
            transform: perspective(400px);
            transform: perspective(400px);
        }
    }

    /* light speed out */
    @keyframes lightSpeedOut {
        0% {
            opacity: 1;
        }

        100% {
            transform: translate3d(100%, 0, 0) skewX(30deg);
            transform: translate3d(100%, 0, 0) skewX(30deg);
            opacity: 0;
        }
    }

    @keyframes lightSpeedOut {
        0% {
            opacity: 1;
        }

        100% {
            transform: translate3d(100%, 0, 0) skewX(30deg);
            transform: translate3d(100%, 0, 0) skewX(30deg);
            transform: translate3d(100%, 0, 0) skewX(30deg);
            opacity: 0;
        }
    }

</style>


<div style="background: url(/images/hourglass-nebula.jpg); height: 100vh;">

    <img style="margin: 10px auto; display: block; max-width: 50vw;" src="/images/overplay-white.png"/>

    <div class="container-fluid" ng-app="loginApp" ng-controller="loginController">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2" style="background: rgba(1,1,1,0.5); padding: 30px;">
                <h1>Please Log In</h1>

                <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                <input style="display:none" type="text" name="fakeusernameremembered"/>
                <input style="display:none" type="password" name="fakepasswordremembered"/>

                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><li class="glyphicon-envelope glyphicon"></li></span>

                    <input type="text" class="form-control" placeholder="Email"
                           ng-model="user.email">

                </div>
                <div class="input-group input-group-lg top15">
                    <span class="input-group-addon"><li class="glyphicon glyphicon-lock"></li></span>

                    <input type="password" class="form-control" placeholder="Password"
                           ng-model="user.password">
                </div>


                <button ng-click="login()" class="btn btn-primary btn-lg top15">Go</button>
                &nbsp;
                <button ng-click="forgot()" class="btn btn-warn btn-lg top15">I Forgot!</button>

                <div class="alertbubble" ng-show="ui.errorMessage">
                    {{ ui.errorMessage }}
                </div>
            </div>
        </div>
    </div>

</div>


<script src="/js/nucleusService/nucleusService.js"></script>
<script src="/js/views/users/loginapp.js"></script>

