<div style="background: #a0a0a0">

    <img style="margin: 10px auto; display: block; max-width: 50vw;" src="/images/overplay-white.png"/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1>Account Validated!</h1>
                <a class="btn btn-lg btn-success" href="/login">Log In</a>

            </div>
        </div>

    </div>

</div>


