<h2>Users</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Email</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Created</th>
        <th>Type</th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td>{{ user.email }}</td>
        <td>{{  user.user.firstName }}</td>
        <td>{{ user.user.lastName }}</td>
        <td>{{ user.createdAt | date }}</td>
        <td><span ng-repeat="t in user.user.roleTypes">{{t}}<br></span></td>
        <td><a ui-sref="user.editUserAdmin({ id: user.id })" class="btn btn-sm btn-warning">EDIT</a></td>

    </tr>
    </tbody>
</table>